html,body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

#notification-center {
  width: 1920px;
  height: 1080px;
  position: relative;
  text-shadow: 3px 3px 4px rgba(0,0,0,.6);
  opacity: 0;
}

#vid {
  width: 740px;
  height: 1080px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -370px;
}

#bit {
  width: 77px;
  height: 77px;
  position: absolute;
  left: 50%;
  top: 236px;
  margin-left: -38px;
  z-index: 9999;
}

#amount {
  text-align: center;
  position: absolute;
  top: 138px;
  padding: 0 20px;
  border-top: 1px solid #00CCFF;
  border-bottom: 1px solid #00CCFF;
  line-height: 40px;
  font-size: 24px;
  color: #FFF;
  z-index: 11;
  background: #000;
}
#amount span {
  position: relative;
}

#name {
  text-align: center;
  color: #FFF;
  position: absolute;
  padding: 20px 20px 10px 20px;
  border-top: 1px solid #00CCFF;
  border-bottom: 1px solid #00CCFF;
  top: 160px;
  font-size: 62px;
  font-weight: bold;
  background: linear-gradient(to top, rgba(20,30,48,.4) , rgba(36,59,85,.2));
  margin: 0 auto;
  z-index: 1;
}

#message {
  text-align: center;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  color: #FFF;
  position: absolute;
  top: 340px;
  font-size: 18px;
}